<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dynamic Email Template</title>
	</head>
	<body>
		<div
			style="font-family: Arial, sans-serif; line-height: 1.6; color: black;"
		>
			<h1 style="color: green;">Task Notification</h1>
			<img
				src="cid:logo"
				alt="Logo"
				style="width: 50%; height: auto; margin-bottom: 10px;"
			/>

			<h3><strong>Task Title:</strong> {{title}}</h3>
      <p><strong>Task Description:</strong> {{description}}</p>
      <p><strong>Task Created By:</strong> {{createdBy}}</p>



		</div>

	</body>
</html>