<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dynamic Email Template</title>
	</head>
	<body>
		<div
			style="font-family: Arial, sans-serif; line-height: 1.6; color: black;"
		>
			<h1 style="color: green;">Task Notification</h1>
			<h3><strong>Task Title:</strong> {{title}}</h3>
		</div>
	</body>
</html>